@use "commons";

// Aside divs
aside, .aside {
  background-color: commons.$code-background;
  border-radius: 5px;
  @include commons.light-para(15px);
  margin: 20px 0;
  padding: 20px;
  padding-bottom: 10px;
  line-height: 1.6 !important;

  // Link overrides
  figcaption a,
  li a,
  p a {
    @include commons.link-underline(commons.$code-background, commons.$text-gray);

    &:hover {
      @include commons.link-underline(commons.$code-background, commons.$text-gray);
    }
  }

  p {
    @include commons.light-para(15px);
    line-height: 1.6 !important;
  }

  pre {
    font-size: 12px;
    border: none;
    padding-left: 0;
  }
}

@media (min-width: 1280px) {
  aside, .aside {
    float: right;
    clear: right;
    background-color: commons.$back-white;
    max-width: 45% !important;
    margin-right: -52%;

    // Link overrides
    figcaption a,
    li a,
    p a {
      @include commons.link-underline(commons.$back-white, commons.$text-gray);

      &:hover {
        @include commons.link-underline(commons.$back-light, commons.$text-gray);
      }
    }

    &::before {
      content: '';
    }
  }
}
