@use "commons";

// Bibliography section and page styling

.org-ref-bib-h1 {
  margin-top: 70px;
  padding-top: 30px;
  border-width: 0;
  border-top-style: solid;
  border-top-width: 1px;
  border-color: commons.$back-light;
  font-family: commons.$sans-font;
  @include commons.light-para(20px);
}

.org-ref-bib {
  @include commons.light-para(15px);

  li > a:nth-child(2) {
    @include commons.link-reset();
    &:hover {
      @include commons.link-reset();
    }
  }

  .bib-link {
    @include commons.light-meta();
    @include commons.link-reset();
  }
}
